@page "/cove-button"

<h3>CoveButton Page</h3>

<CoveCard Border="true"
          Shadow="true"
          Round="true"
          Width="100">
    <CoveTextInput Placeholder="Type anything here..."
                   @bind-Value="_value"
                   Shadow="true"
                   ShadowColor="_shadowColor"
                   Border="true"
                   BorderColor="_borderColor"
                   @ref="_textInputRef" />

    <CoveButton Type="CoveButtonType.Button"
                Text="Click Me"
                Shadow="true"
                ShadowColor="_shadowColor"
                Border="true"
                BorderColor="_borderColor"
                OnClick="ButtonClickedAsync"
                Round="true">
    </CoveButton>

    <CoveButton Type="CoveButtonType.Reset"
                Text="Reset"
                Shadow="true"
                ShadowColor="_shadowColor"
                Border="true"
                BorderColor="_borderColor"
                OnClick="ResetClickedAsync"
                Round="true">
    </CoveButton>

    <CoveButton Type="CoveButtonType.Button"
                Text="Test Button, Click Me!"
                Shadow="true"
                ShadowColor="_shadowColor"
                Border="true"
                BorderColor="_borderColor"
                OnClick="ResetClickedAsync"
                Round="true"
                BackgroundColor="_backgroundColor"
                TextColor="new CustomCoveColor(255, 223, 127)">
    </CoveButton>

    <CoveButton Type="CoveButtonType.Button"
                Text="Test Button, Click Me!"
                Shadow="true"
                ShadowColor="_shadowColor"
                Border="true"
                BorderColor="_borderColor"
                OnClick="ResetClickedAsync"
                Round="false"
                BackgroundColor="_backgroundColor"
                TextColor="new CustomCoveColor(225, 225, 225)">
    </CoveButton>

    <div>
        <p>Count: @_count</p>
    </div>

    <p>
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</CoveCard>





@code {
    private CustomCoveColor _shadowColor = new CustomCoveColor(0, 0, 0);
    private CustomCoveColor _borderColor = new CustomCoveColor(0, 0, 0);
    private CustomCoveColor _backgroundColor = new CustomCoveColor(50, 50, 225);
    private int _count = 0;
    private string _value = string.Empty;
    private CoveTextInput? _textInputRef;

    private async void ButtonClickedAsync()
    {
        _count++;
    }

    private async void ResetClickedAsync()
    {
        _count = 0;
        _value = string.Empty;
    }
}
