@page "/cove-float-input"

<h3>CoveFloatInput Page</h3>

<div>
    <CoveFloatInput MaxValue="7"
                MinValue="-2"
                Step="0.01"
                TValue="double"
                @bind-Value="_doubleValue"
                Width="50"
                Outline="true"
                Round="false"
                Shadow="true"
                ShadowColor="_shadowColor"
                BorderColor="_borderColor" />
</div>

<div>
    <CoveFloatInput MaxValue="7"
                MinValue="-2"
                Step="0.05m"
                TValue="decimal"
                @bind-Value="_decimalValue"
                Width="25"
                Outline="true"
                Round="false"
                Shadow="true"
                ShadowColor="_shadowColor"
                BorderColor="_borderColor" />
</div>

<div>
    <CoveFloatInput MaxValue="7"
                MinValue="-2"
                Step="0.001f"
                TValue="float"
                @bind-Value="_floatValue"
                Width="25"
                Outline="true"
                Round="false"
                Shadow="true"
                ShadowColor="_shadowColor"
                BorderColor="_borderColor" />
</div>

@code {
    private double _doubleValue = 0;
    private decimal _decimalValue = 0;
    private float _floatValue = 0;
    private CoveColor _shadowColor = new CoveColor(50, 50, 255);
    private CoveColor _borderColor = new CoveColor(50, 50, 255);
}