@page "/cove-integer-input"

<h3>CoveIntegerInput Page</h3>

<div>
    <CoveIntegerInput MaxValue="7"
                  MinValue="-2"
                  @bind-Value="_value1"
                  Width="50"
                  Border="true"
                  Round="false"
                  Shadow="true"
                  BorderColor="new CoveColor(0, 150, 0)"/>
</div>

<div>
    <CoveIntegerInput MaxValue="7"
                  MinValue="-2"
                  @bind-Value="_value2"
                  Width="25"
                  Border="true"
                  Round="false"
                  Shadow="true"
                  ShadowColor="_shadowColor"
                  BorderColor="_borderColor"/>
</div>

<div>

</div>


@code {
    private int _value1 = 0;
    private int _value2 = 0;
    private CoveColor _shadowColor = new CoveColor(0, 0, 0);
    private CoveColor _borderColor = new CoveColor(0, 0, 0);
}
