@page "/integer-input"

<h3>IntegerInputPage</h3>

<div class="m-4">
    <IntegerInput MaxValue="7"
                  MinValue="-2"
                  @bind-Value="_value1"
                  Width="50"
                  Outline="true"
                  Round="false"
                  Shadow="true" />
</div>

<div class="m-4">
    <IntegerInput MaxValue="7"
                  MinValue="-2"
                  @bind-Value="_value2"
                  Width="25"
                  Outline="true"
                  Round="false"
                  Shadow="true"
                  ShadowColor="rgba(50, 50, 255, 0.75)" />
</div>


@code {
    private int _value1 = 0;
    private int _value2 = 0;
}
