@page "/cove-text-input"

<h3>CoveTextInput Page</h3>

<div>
    <CoveTextInput @bind-Value="_value1"
                   Width="50"
                   Border="true"
                   Round="false"
                   Shadow="true"
                   ShadowColor="_shadowColor"
                   BorderColor="_borderColor" />
</div>


<div>
    <CoveTextInput @bind-Value="_value2"
                   Width="100"
                   Border="true"
                   Round="true"
                   Shadow="true"
                   ShadowColor="_shadowColor"
                   BorderColor="_borderColor" />
</div>


@code {
    private string _value1 = "Hello World!";
    private string _value2 = string.Empty;
    private CustomCoveColor _shadowColor = new(10, 200, 50);
    private CustomCoveColor _borderColor = new(10, 200, 50);
}
