@page "/demo-basic-components"

<h3>DemoBasicComponents</h3>

<CoveCard Border="true"
          BorderColor="_borderColor"
          Shadow="true"
          ShadowColor="_shadowColor"
          BackgroundColor="_backgroundColor"
          Round="true"
          Width="100"
          Height="100">


    <div class="row">
        <div class="col">
            <CoveTextInput Label="First Name"
                           Placeholder="Enter first name here..."
                           Border="true"
                           Shadow="true"
                           Width="100" />
        </div>
        <div class="col">
            <CoveTextInput Label="Last Name"
                           Placeholder="Enter last name here..."
                           Border="true"
                           Shadow="true"
                           Width="100" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <CoveIntegerInput Placeholder="Enter age here..."
                                  Label="Age"
                                  Border="true"
                                  Shadow="true"
                                  Width="100" />
            </div>

            <div class="row">
                <CoveFloatInput TValue="double"
                                Label="Weight"
                                Placeholder="Enter weight here..."
                                Border="true"
                                Shadow="true"
                                Width="100" />
            </div>
        </div>

        <div class="col">
            <CoveCard Border="true"
                      Shadow="true"
                      BackgroundColor="CoveColor.OffWhite"
                      Width="90"
                      Height="75">
                <p class="ck-font">
                    Some text goes here...
                </p>
            </CoveCard>
        </div>
    </div>


    <div class="row">
        <div class="col d-flex justify-content-end">
            <CoveButton Text="Click Me"
                        Border="true"
                        Shadow="true"
                        Round="true"
                        BackgroundColor="CoveColor.BoldYellow" />
        </div>
    </div>
</CoveCard>

@code {
    private CoveColor _borderColor = CoveColor.Black;
    private CoveColor _shadowColor = CoveColor.Black;
    private CoveColor _backgroundColor = CoveColor.MutedPurple;
}
