@using BlazorWASM.Test.Shared
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
@*         <NavMenu /> *@
        <NavMenu Groups="_navGroups" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private List<NavGroup> _navGroups = new()
    {
        new NavGroup
        {
            Name = "Home",
            Links = new List<NavLinkItem>
            {
                new NavLinkItem { Href = "/", Text = "Home" }
            }
        }, 
        new NavGroup
        {
            Name = "CoveInput",
            Links = new List<NavLinkItem>
            {
                new NavLinkItem { Href = "/cove-integer-input", Text = "CoveIntegerInput" },
                new NavLinkItem { Href = "/cove-float-input", Text = "CoveFloatInput" },
                new NavLinkItem { Href = "/cove-text-input", Text = "CoveTextInput" }
            }
        },
        new NavGroup
        {
            Name = "CoveButton",
            Links = new List<NavLinkItem>
            {
                new NavLinkItem { Href = "/cove-button", Text = "CoveButton" }
            }
        }
    };
}