.ck-outline {
    border-style: solid;
    border-width: 1px;
    border-color: dimgrey;
}

.ck-no-outline {
    border: none;
}

.ck-round {
    border-radius: 4px;
}

.ck-shadow {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
}