@namespace CoveKit

@implements ICoveKitComponent

<label class="ck-toggle-input-switch">
    <input type="checkbox">
    <span class="ck-toggle-input-slider"></span>
</label>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> AdditionalAttributes { get; set; }
    [Parameter] public bool Value { get; set; }
}